body{
	margin: 0;
	padding: 0;
	background: url("pizza.jpg");
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.menue input[type="radio"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}